.modal-fondo {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenedor {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.75rem;
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.modal-titulo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #222;
}

.modal-formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-entrada,
.modal-textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.modal-acciones {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-boton-cancelar {
  padding: 0.6rem 1.2rem;
  background-color: #9ca3af; /* gris */
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.modal-boton-cancelar:hover {
  background-color: #6b7280;
}

.modal-boton-guardar {
  padding: 0.6rem 1.2rem;
  background-color: rgb(17, 161, 194); /* azul del login */
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.modal-boton-guardar:hover {
  background-color: #0a7b8a;
}

.modal-boton-guardar:active {
  background-color: #3e8e41;
}

.modal-boton-guardar:focus,
.modal-boton-cancelar:focus {
  outline: none;
}
